:root {
  --accent-color: hsl(217, 90%, 60%);
  --gray-300: hsl(210, 80%, 90%);
  --gray-200: hsl(210, 60%, 95%);
  --gray-100: hsl(217, 50%, 98%); /*BG Color*/
  --white: hsl(0, 0%, 100%);
  --black: hsl(217, 20%, 10%);
  --shadow: 0 0 5px rgba(0, 0, 0, 0.125);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-100);
  margin: 0;
}

.ant-float-btn-circle:hover .anticon {
  color: var(--white);
}

.ant-float-btn-circle:hover {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transform: scale(0.9);
  transition: all 0.4s ease;
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  #editor .ql-editor {
    width: 6.5in;
    height: 9in;
    margin: 0;
    padding: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  #editor .ql-toolbar.ql-snow,
  .ant-float-btn,
  .ant-tooltip {
    display: none !important;
  }
}

@keyframes slide {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
